#prettyweb-button
{list-style-image: url("chrome://prettyweb/content/enabled_large.png");}
#prettyweb-button[disabled="yes"]
{list-style-image: url("chrome://prettyweb/content/disabled_large.png");}
[iconsize="small"] #prettyweb-button
{list-style-image: url("chrome://prettyweb/content/enabled_small.png");}
[iconsize="small"] #prettyweb-button[disabled="yes"]
{list-style-image: url("chrome://prettyweb/content/disabled_small.png");}
